<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Skill Check</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 50px;
        }
        
        #splitter {
            border: none;
            min-width: 300px;
            min-height: 300px;
            height: 700px;
            width: 100%;
        }
        
        #top {
            height: 350px;
        }
        
        #top,
        #bottom {
            height: 350px;
            overflow: hidden;
            min-height: 100px;
        }
        
        #left,
        #right {
            overflow: hidden;
            min-width: 100px;
        }
        
        #variables,
        #theme {
            height: 100%;
            width: 100%;
            position: relative;
        }
        
        .splitter-bar-vertical {
            width: 12px;
            background: #cdcdcd url("vgrabber.png") no-repeat center;
        }
        
        .splitter-bar-horizontal {
            height: 12px;
            background: #cdcdcd url("hgrabber.png") no-repeat center;
        }
        
        .splitter-bar-vertical.active,
        .splitter-bar-vertical:hover {
            background: #a0a0a0 url("vgrabber.png") no-repeat center;
        }
        
        .splitter-bar-horizontal.active,
        .splitter-bar-horizontal:hover {
            background: #a0a0a0 url("hgrabber.png") no-repeat center;
        }
        
        #themeroller,
        #download {
            display: none;
        }
        
        #preview {
            height: calc(100% - 33px);
            overflow-x: hidden;
            overflow-y: auto;
        }
        
        #toolbar {
            margin: 0;
            padding: 5px 0;
            border-radius: 0;
        }
        
        .bs-docs-section {
            margin-bottom: 100px;
        }
        
        .variables {
            float: right;
            top: -40px;
        }
        
        .bs-component {
            position: relative;
        }
        
        .bs-component .modal {
            position: relative;
            top: auto;
            right: auto;
            left: auto;
            bottom: auto;
            z-index: 1;
            display: block;
        }
        
        .bs-component .modal-dialog {
            width: 90%;
        }
        
        .sp-container {
            border: 1px solid #999;
        }
        
        .sp-replacer {
            background: transparent none repeat scroll 0 0;
            border: none;
            padding: 0 0 0 10px;
        }
        
        .variables {
            display: none;
        }
        
        .page-header h1 {
            padding-top: 100px;
        }

    </style>
</head>

<body>
    {{#if admin}}
        <div>
            <h1><a href="/fits">ADMIN</a></h1>
        </div>
    {{/if}}
    {{{body}}}
</body>

</html>
