<div class="container row">
  <h1>Testing</h1>

  <div class="col s12">
    <div class="col s12 m4">
      <button class="btn" (click)="getChartData()">Refresh Chart</button>
    </div>
    <div class="col s12 m8">
      <button class="btn" (click)="updateData()">Grab new matches</button>
      <button class="btn-flat" disabled>Last grabbed on {{ date | date:'medium' }}</button>
    </div>
  </div>
  <div class="col s12 input-field">
    <select [(ngModel)]="teamOne" (change)="getChartData()" name="teamOne" style="display: block">
      <option selected [value]=undefined>Select a scope</option>
      <option *ngFor="let teamName of teamNames" [ngValue]="teamName">{{teamName}}</option>
    </select>
    <select [(ngModel)]="teamTwo" (change)="getChartData()" name="teamTwo" style="display: block">
      <option selected [value]=undefined>Select a scope</option>
      <option *ngFor="let teamName of teamNames" [ngValue]="teamName">{{teamName}}</option>
    </select>
    <select [(ngModel)]="roundsMaps" (change)="getChartData()" name="teamTwo" style="display: block">
      <option selected value="rounds">Rounds Won</option>
      <option value="maps">Maps Won</option>
    </select>
  </div>
  <div id="chartContainer" style="height: 300px; width: 100%;">
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
</div>
